
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

.logo {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: right;
}

.info{
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;
}

#tableHeader {
    background-color: #8fd19e;
}

.padding-top {
    padding-top: 20px;
}

.space-top {
    padding-top: 5px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.card-padding{
    padding-right: 40px;
    padding-left: 40px;
}

.small-card-padding{
    padding: 10px 80px;
}

.space-bottom {
    padding-bottom: 5px;
}

.margin-bottom {
    margin-bottom: 5px;
}

.text-size {
    font-size: 12px;
}

.height {
    height: 23px;
}

.row-format{
    margin-left:0;
    margin-right: 0;
}

.button {
    height: 25px;
    font-size: 12px;
    background: ghostwhite;
    border-radius: 20%;
}

.col-width-height {
    width: inherit;
    height: 23px;
}
/*Start here*/
#container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.menu-side {
    background-image: linear-gradient(to right, darkgray , transparent);
    padding-top: 20px;
    flex: 0 0 250px;
}

.info-side{
    background-image: linear-gradient(to left, darkgray , transparent);
    padding-top: 40px;
    flex: 0 0 250px;
}

.main {
    flex: 1 60%;
    align-content: center;
    padding-top: 40px;
}

.navLinks{
    padding-left: 20px;
    padding-top: 5px;
    list-style-type: none;
    font-size: medium;
    color: gray;
}

.navLinks:hover{
    color:black;
    text-decoration: none;
}

.login-input{
    padding-right: 20px;
    text-align: right;
    height: 5px;
}

.input-field{
    margin-left: 5px;
    margin-bottom: 5px;
}

.error-text{
    font-size: 12px;
    color: red;
}



/*#container > div + div {*/
/*    border-left: 2px solid rgba(0, 0, 0, 0.12);*/
/*}*/


